body {
  background-color: #f1f1f1;
}
#app {
	text-align: center;
}
input {
	margin: 1px;
}
button:hover{
  border-color: #c6c6c6;
  background: #f0f0f0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.10);
}

p {
	font-size: 23px
}
.green {
	font-size: 30px;
	color: green;
}

.red {
	font-size: 30px;
	color: red;
}

#repost {
	font-size: 40px;
	font-family: 'Kavoon', cursive;
	color: red;
	margin-top: 25px;
}
#OC {
	font-size: 40px;
	font-family: 'Kavoon', cursive;
	color: green;
	margin-top: 25px;
	text-align: center;
}